$primary: #fe7a67;
$secondary: #444b54;
$white: #ffffff;
$semiWhite: #f7f7f7;
$gray: #dfdfdf;
$lightGray: #f8f9fa;
$textGray: #666666;
$background: #F4F4F9;
$boxColor: #D9D9D9;

$info: #0197F6;
$info-text-emphasis: #ffffff;